@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.AdBottom_mainCon {
  background-color: #f2f2f2;
  padding: 15px;
}
.AdBottom_innerCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}
.AdBottom_div {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.AdBottom_div > p {
  margin: 0 15px;
}

.AdBottom_mainCon_2 {
  background-color: #2e3337;
  width: 70%;
  margin: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.AdBottom_mainCon_2:hover {
  background-color: white;
  color: #2e3337;
  cursor: pointer;
}
