@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.Cart_dropDowninnerMainCon {
  display: flex;
  /* border: 1px red solid; */
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
}

.Cart_dropDownTableImgTitleDiv {
  width: 30%;
  /* border: 1px red solid; */
}
.Cart_dropDowninnerMainCon > div:nth-child(2) {
  width: 70%;
}
.Cart_dropDownTableDetailDiv > p:nth-child(1),
.Cart_dropDownTableDetailDiv > p:nth-child(3) {
  font-size: 13px;
  margin-bottom: 5px;
}
.Cart_dropDownTableDetailDiv > p:nth-child(2) {
  margin-bottom: 5px;
}

.Cart_dropDownTopDiv {
  display: flex;
  justify-content: space-between;
}
