.PaginationDiv{
    display: flex;
    align-items: center;
    /* border:1px red solid; */
    width:300px;
    justify-content: flex-end;
}

.PaginationMainDiv{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}